body{
  outline-style: dotted;
  margin: 30px;
  border: 5px;
  background-color: cornsilk;
}

h1{
  color: #4f2300;
}

h3{
  color: #4f2300;
}

p{
  color: #4f2300;
}

img-dnd{
   border-radius: 10px; 
}

li{
  color: #4f2300;
}






